<extend name="Base/common"/>
<block name="body">
    <!--<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="__STATIC__/shop.css?v={:SITE_VERSION}" rel="stylesheet">
    <script type="text/javascript" src="__STATIC__/laydate/laydate.js"></script>
    <style>
        .navbar-inverse {
            background-color: #fff;
            border-color: #fff;
        }

        .navbar-fixed-bottom, .navbar-fixed-top {
            position: static;
            right: 0;
            left: 0;
            z-index: 0;
        }
    </style>
    <div class="span9 page_message">
        <section id="contents">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{:addons_url('Shop://Stat/order_stat')}">订单统计</a></li>
                <li><a href="{:addons_url('Shop://Stat/sales_statistics')}">销售统计</a></li>
                <!--<li><a href="{:addons_url('Shop://Stat/sale_rankings')}">商品销售排行</a></li>-->
                <li><a href="{:addons_url('Shop://Stat/order_details')}">商品销售明细</a></li>
                <li><a href="{:addons_url('Shop://Stat/consumer_rankings')}">会员消费排行</a></li>
            </ul>
            <br>
            <div class="panel panel-info">
                <div class="panel-heading">按时间查询订单数和订单金额</div>
                <div class="panel-body">

                    <form class="form-horizontal" >
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">会员名</label>
                            <div class="col-sm-8 col-lg-9 col-xs-12">
                                <input name="nickname" id="nickname" type="text" class="form-control" value="{:I('nickname')}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">收货人</label>
                            <div class="col-sm-8 col-lg-9 col-xs-12">
                                <input name="truename"  id="truename" type="text" class="form-control" value="{:I('truename')}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">订单号</label>
                            <div class="col-sm-8 col-lg-9 col-xs-12">
                                <input name="order_number" id="order_number" type="text"  class="form-control" value="{:I('order_number')}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">订单时间</label>
                            <div class="col-sm-8 col-lg-9 col-xs-12">
                                开始日：<li class="laydate-icon" id="start" name="start" style="width:120px;display: inline;"><php>echo date('Y-m-d',I('start')); </php></li>
                                结束日：<li class="laydate-icon" id="end" name="end" style="width:120px; display: inline;"><php>echo date('Y-m-d',I('end')); </php></li>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                            <div class="col-sm-8 col-lg-9 col-xs-12">
                                <button type="button" class="btn btn-default" id="search" url="{:addons_url('Shop://Stat/order_stat')}"><i class="fa fa-search"></i> 搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    共计 <span style="color:red; ">{$lists|count}</span> 个订单 , 金额共计 <span style="color:red; ">{$total_money}</span> 元
                </div>
                <div class="panel-body">
                    <table class="table ">
                        <thead class="navbar-inner">
                        <tr>
                            <th>序号</th>
                            <th>订单号</th>
                            <th>总金额</th>
                            <!--<th>商品金额</th>-->
                            <!--<th>运费</th>-->
                            <th>付款方式</th>
                            <th>会员名称</th>
                            <th>收货人</th>
                            <th>下单时间</th>
                        </tr>
                        </thead>
                        <tbody>

                        <foreach name="lists" item="vo">
                            <php>
                                $good_datas = $vo['goods_datas'];
                                $good_datas = json_decode($good_datas,true);
                                //dump($good_datas);
                            </php>

                            <tr style="background: #d9edf7">
                            <td><span class="badge pull-left">{$key+1}</span></td>
                            <td>{$vo.order_number}</td>
                            <td>{$vo.total_price}</td>
                            <!--<td>{$vo.price}</td>-->
                            <!--<td>0.00</td>-->
                            <td>
                                <eq name="vo.dispatch_type" value="1">
                                <span class="label label-danger">
                                    货到付款
                                </span>
                                    <else/>
                                <span class="label label-info">
                                    在线支付
                                </span>
                                </eq>
                            </td>
                            <td>{$vo.user.nickname|deal_emoji}</td>
                            <td>{$vo.user.truename}</td>
                            <td>{$vo.cTime|time_format}</td>
                        </tr>
                        <tr style="background: #fff">
                            <td colspan="9">
                                <table width="100%">
                                    <tbody>
                                    <tr>
                                        <td style="height:60px;"><img src="<?php echo $good_datas[0]['cover'];?>" style="width: 50px; height: 50px;border:1px solid #ccc;padding:1px;">
                                        </td>
                                        <td width="500px"><?php echo $good_datas[0]['title'];?></td>
                                        <td>商品单价： <?php echo $good_datas[0]['old_price'];?><br>折扣后: <?php echo $good_datas[0]['price'];?></td>
                                        <td>购买数量：<?php echo $good_datas[0]['num'];?></td>
                                        <td>总价：<strong><?php echo $good_datas[0]['old_price']*$good_datas[0]['num'];?> </strong> <br>折扣后: <strong>{$vo.total_price}</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</block>
<block name="script">
    <script>
        var start = {
            elem: '#start',
            format: 'YYYY-MM-DD ',
            //min: laydate.now(), //设定最小日期为当前日期
            min: '1970-01-01',
            max: '2099-06-16 ', //最大日期
            istime: true,
            istoday: false,
            choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas; //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end',
            format: 'YYYY-MM-DD ',
            //min: laydate.now(),
            min: '1970-01-01',
            max: '2099-06-16 ',
            istime: true,
            istoday: false,
            choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);
        laydate.skin('dahong');

    </script>
    <script type="text/javascript">
        $(function () {
            $("#search").click(function(){
                var url = $(this).attr('url');
                //开始时间
                var start = $('#start').text();
                if(start != ''){
                    start = new Date(start).getTime()/1000;
                    start = $('#start').attr('name')+'='+start;
                }
                //结束时间
                var end = $("#end").text();
                if(end != ''){
                    end = new Date(end).getTime()/1000;
                    end = $('#end').attr('name')+'='+end;
                }
                //会员名
                var nickname = $("#nickname").val();
                nickname = $("#nickname").attr('name')+ '=' +nickname;

                //收货人
                var truename = $("#truename").val();
                truename = $("#truename").attr('name')+ '=' +truename;

                //订单号
                var order_number = $("#order_number").val();
                order_number = $("#order_number").attr('name')+ '=' +order_number;
                if( url.indexOf('?')>0 ){
                    url += '&' +nickname +'&' +truename +'&' +order_number+ '&' +start +'&' +end ;

                }else{
                    url += '?' +'&' +nickname +'&' +truename +'&' +order_number +start +'&' +end;
                }
                window.location.href = url;
            });

            /*
             //回车自动提交
             $('.search-form').find('input').keyup(function(event){
             if(event.keyCode===13){
             $("#search").click();
             }
             });
             */
        });

    </script>

</block>