<extend name="Base/common" />
<block name="body">
    <!--<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .navbar-inverse {
            background-color:#fff;
            border-color:#fff;
        }

        .navbar-fixed-bottom, .navbar-fixed-top {
            position: static;
            right: 0;
            left: 0;
            z-index: 0;
        }
        tr,td,th{
            text-align: center;
        }
        .active{
            color: #000000;
            font-weight: bold;
            font-size: 16px;

        }

    </style>

    <div class="span9 page_message">
        <section id="contents">
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li ><a href="{:addons_url ( 'Shop://User/lists' )}">会员管理</a></li>
                    <li class="active"><a href="{:addons_url ( 'Shop://User/level' )}">会员等级</a></li>
                    <li ><a href="{:addons_url ( 'Shop://User/group' )}">会员分组</a></li>
                </ol>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <b>会员等级设置</b>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>等级名称</th>
                                <th>升级条件</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="lists" item="vo">
                                <tr>
                                    <td>{$vo.level}</td>
                                    <td>{$vo.chance}</td>
                                    <td>
                                        <a class="btn btn-default" href="{:addons_url('Shop://User/level_edit',array('id'=>$vo[id]))}" title="编辑信息"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-default" href="{:addons_url('Shop://User/level_del',array('id'=>$vo[id]))}" title="删除" onclick="return confirm('确认删除此会员等级吗？');return false;"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-info" href="{:addons_url ( 'Shop://User/level_add' )}"><i class="fa fa-plus"></i> 添加新等级</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){

        })
    </script>
</block>
